Flask==3.0.3
Flask-Limiter==3.8.0
selenium==4.23.1
beautifulsoup4==4.12.3
bleach==6.1.0
pandas>=2.2.3
openpyxl==3.1.5
APScheduler==3.10.4
xlsxwriter==3.2.0
psycopg2-binary
sqlalchemy
requests==2.31.0
seleniumbase
nodriver
PyPDF2==3.0.1
python-docx==1.1.0
anthropic>=0.23.0
